@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);


body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    background: #000000; 
}

/* .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    order: none;
    ext-align: left;
    utline: none;
    ont-size: 15px;
}
*/

/* .active, .collapsible:hover {
    background-color: #555;
    color: white;
} 

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
} */

.content {
    padding: 0 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
 
.lunch-heading {
    color: #F5F5EF;
    background-color: #000000;
}

.lunch-text-collapsible {
    background-color: #F5F5EF;
    color: #332219;
    height:auto;
}
ul.ba {
    margin: 10px 0;
    list-style-type: none; /* Sets style of bullet for li item. In this case no style*/
}

button.btn {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

button.btn:hover {
    background-color: #555; 
    color: white;

}

button.btn::after {
    font-weight: bold;
    color: white;
}