<ul class="ba">
    <li class="list-group-item">
        <button class="btn" data-toggle="collapse" data-target="#{{target}}">
            {{key}}
        </button>
        <div id="{{target}}" class="collapse">
            <ul class="ba">
            {% for dish in values %}
                <li class="list-group-item">
                    {{dish["name"]}} {{dish["price"]}}
                </li>
            {% endfor %}
            <ul>
        </div>
    </li>
</ul>